/*Define color palete*/

:root {
    --colorBkg: rgb(227, 227, 227);
    --colorBkgDark: rgb(168, 168, 168);
    --colorMain: rgb(131, 166, 179);
    --colorMainDark: rgb(99, 126, 136);
    --colorAccent: rgb(183, 254, 245);
    --colorDarkShadow: rgba(38, 38, 38, 0.8);
    --colorLightShadow: rgba(38, 38, 38, 0.3);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--colorBkg);
}

a {
    color: var(--colorMain);
}

a:hover {
    color: var(--colorMainDark);
}

.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 2px 10px var(--colorDarkShadow);
}

.mylogo {
    font-weight: bold;
}

.mymaincontainer {
    max-width: 1140px;
}

.myheader {
    background: linear-gradient(-25deg, var(--colorMain), var(--colorAccent));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.jumbotron h1 {
    font-size: 5em;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8);
}

.mypage {
    background-color: white;
    box-shadow: 0 0 5px var(--colorLightShadow);
}

.myasidearea {}

.mymarticlearea {}

.hue-shift-img {
    filter: hue-rotate(75deg) opacity(85%);
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading.collapse-with-chevron h4:before {
    font-family: 'Glyphicons Halflings';
    font-size: 0.8em;
    color: var(--colorAccent);
    text-shadow: 1px 0 0 var(--colorMain), -1px 0 0 var(--colorMain), 0 1px 0 var(--colorMain), 0 -1px 0 var(--colorMain);
    content: "\e114  ";
}

.panel-heading.collapse-with-chevron.collapsed h4:before {
    content: "\e080  ";
}

.footer {
    color: white;
    background-color: var(--colorBkgDark);
    padding: 1.5em;
    box-shadow: 0 0 10px var(--colorLightShadow);
}

.contact-button{
  color: var(--colorMainDark);
}
